.bookContainer {
    height: 100%;
    display: var(--show-book);
    justify-content: center;
    align-items: center;
}

.tab:hover, .tabBack:hover, .leftPageTrigger:hover, .rightPageTrigger:hover {
    cursor: pointer;
}

.tab
{
    width: 4%;
    height: 10%;
    top: -7%;
    position: absolute;
}

.tabBack {
    width: 4%;
    height: 7%;
    top: -7%;
    position: absolute;
}

.tab {
    z-index: 100;
    pointer-events: all;
}

.tabBack {
    z-index: -1;
    pointer-events: all;
}

.book {
    position: relative;
    min-width: 550px;
    aspect-ratio: 1/1.3;
    transition: transform 0.5s;
}



.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    perspective: 5000px;
    pointer-events: none;
}

.frontCover, .backCover {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2.5%;
    transform-origin: left;
    transition: transform 0.75s;
    border-radius: 10px;
}

.front, .back {
    background-color: white;
    position: absolute;
    width: 95%;
    height: 95%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.75s;
    border-radius: 10px;
}

.rightPageTrigger{
    min-width: 15%;
    min-height: 100px;
    position: absolute;
    z-index: 500;
    left: calc(100% - 10px - 10%); 
    height: calc(100% - 20px);
    opacity: 0.0;
}


.leftPageTrigger{
    min-width: 15%;
    min-height: 100px;
    left: -100%;
    position: absolute;
    z-index: 500;
    height: calc(100% - 20px);
    opacity: 0.0;
}


.rightPageTrigger:hover ~ .paper > .pageCornerForward {
    transform: rotateY(-20deg);
}

.leftPageTrigger:hover ~ .paper > .pageCornerBackward{
    transform: rotateY(-160deg);
}



.leftPageTrigger:hover ~ .paper > .backFrontCover {
    transform: rotateY(-150deg);
}


.rightPageTrigger:hover ~ .paper >  .frontFrontCover {
    transform: rotateY(-30deg);
}

.front, .frontCover {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 1px solid black;
}

.back, .backCover {
    z-index: -1;
    border-left: 1px solid black;
}

.frontContent, .backContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    pointer-events: all;
    overflow: hidden;
}

.backContent {
    transform: rotateY(180deg);
}

.flipped .front,
.flipped .back,
.flipped .frontCover,
.flipped .backCover
{
    transform: rotateY(-180deg);
}

.sectionTitle {
    margin-top: auto;
    margin-bottom: auto;
}

.contentTitle {
    padding-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

.descriptionText {
    padding-bottom: 5%;
    font-size: 18px;
}

.tagContainer {
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.tagBubble {
	margin: 5px;
	padding: 5px;
	background-color: var(--accent-colour);
	border-radius: 10px;
    font-size: 18px;
}

.pageContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.linkSection {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 25%;
    padding-top: 20px;
}

.linkContainer {
    width: 150%;
    justify-self: center;
}

@media (max-width : 1200px ) {
	.book{
		min-width: 300px;
        aspect-ratio: 1/1.3;
        width: 46%;
	}
}

@media (max-width : 800px ) {
	.descriptionText{
        font-size: 14px;
	}
    .contentTitle {
        margin-bottom: 0px;
    }
    .tagBubble {
        font-size: 14px;
        margin: 2px;
        padding: 3px;
    }
}