.bookContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: powderblue;
}

.tag {
    width: 50px;
    height: 50px;
    background-color: red;
    top: -40px;
    z-index: 100;
    position: absolute;
}

.tagBack {
    width: 50px;
    height: 40px;
    background-color: red;
    top: -40px;
    z-index: -1;
    position: absolute;
}

.book {
    position: relative;
    width: 20%;
    height: 60%;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    perspective: 1500px;
}

.front, .back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.75s;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 10px;
}

.rightPageTrigger{
    background-color: white;
    min-width: 10%;
    min-height: 100px;
    position: absolute;
    z-index: 500;
    left: calc(100% - 10px - 10%); 
    height: calc(100% - 20px);
    opacity: 0.0;
}

.rightPageTrigger:hover ~ .paper:after{
content: '';
width: 2.13em;
height: 2.15em;
position: absolute;
top: 0px;
right: 0px;
background: linear-gradient(-135deg, transparent 1.5em, grey 0) no-repeat;
border-bottom-left-radius: 10px;
background-repeat: no-repeat;
z-index: 10;
}

.leftPageTrigger:hover ~ .paper:before{
content: '';
width: 2.13em;
height: 2.15em;
position: absolute;
background: linear-gradient(-225deg, transparent 1.5em, grey 0) no-repeat;
border-bottom-right-radius: 10px;
background-repeat: no-repeat;
z-index: 10;
left: -100%;

}

.leftPageTrigger{
    background-color: white;
    min-width: 10%;
    min-height: 100px;
    left: -100%;
    position: absolute;
    z-index: 500;
    height: calc(100% - 20px);
    opacity: 0.0;
    
}



.front {
    z-index: 1;
    backface-visibility: hidden;
    border-right: 10px solid black;
    border-left: 1px solid black;
}

.back {
    z-index: -1;
    border-right: 10px solid black;
    border-left: 1px solid black;
}

.frontContent, .backContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backContent {
    transform: rotateY(180deg);
}

.backCover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}