.cardContainer {
	background-color: hsl(26, 18%, 92%);
	border-radius: 25px;
	margin: 5px;
	padding: 10px 10px;
	filter: drop-shadow(0.5px 0.5px 0.5px);

}

.cardHeading {
	align-self: flex-start;
	margin: 5px;
}

.avatarText {
	margin: 5px;
}

.cardContainerHeading {
	margin: 5px;
}

.card {
	background-color: #FAF7F5;
	margin: 10px;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	border-radius: 25px;
	filter: drop-shadow(0.5px 0.5px 0.5px);

}

.centered {
	align-items: center;
	justify-content: center;
}

.infoText {
	justify-content: space-between;
	width: 90%;
	display: flex;
}

.cardTitle {
	justify-self: left;
	align-self: left;
}

.techBubble {
	margin: 5px;
	padding: 5px;
	background-color: #74C8CC;
	border-radius: 10px;
}

.techContainer {
	display: flex;
	flex-wrap: wrap;
}


