.card {
	justify-content: center;
	align-items: center;
	background-color: #FAF7F5;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
}

.infoText {
	justify-content: space-between;
	width: 90%;
	display: flex;
}


