.content {
	display: flex;
	display: var(--show-standard)
}
.section1 {
	width: 35%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section2 {
	width: 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



@media (max-width : 950px ) {
	.section1{
		width: 100%;
	}

	.section2 {
		width: 100%;
	}

	.content {
		flex-direction: column;
	}
}

@media (max-width : 340px ) {
	.section1{
		width: 90%;
	}

	.section2 {
		width: 90%;
	}
}