.themeLabel {
	padding-right: 10px;
}

.themeSelect {
	background-color: var(--primary-card-colour);
	color: var(--text-colour);
	border-radius: 10px;
	appearance: none;
	font: inherit;
	padding: 0.4em
}