@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

:root {
    --background-main: #DBC2CF;
    --background-sidebar: #9FA2B2;
    --text-color: #000000;
  }

.site-container {
    min-height: 100vh;
    background-color: var(--background-main);
}

body {
    color: var(--text-color);
}

h2 {
    text-decoration: underline;
}

.page-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;   
    margin-right: 50px;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    height: 100vh;
}

.main-section {
    margin: 50px;
    margin-top: 100px;
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
}

.sidebar {
    display: flex;
    background-color: var(--background-sidebar);
    padding: 30px;
   
}