@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.site-container {
    min-height: 100vh;
    background-color: paleturquoise;

}

.page-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;   
    margin-right: 50px;

}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: space-between;
}


body{
    margin: 0;
    font-family: 'Raleway', sans-serif;

}